body {
   font-family: Arial, sans-serif;
   text-align: center;
}

#gameBoard {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   gap: 10px;
   margin: 20px auto;
   width: 90%;
   max-width: 600px;
}

.card {
   width: 100px;
   height: 100px;
   background-color: #ddd;
   background-size: cover;
   cursor: pointer;
   transition: transform 0.3s;
   border-radius: 8px;
}

.card:hover {
   transform: scale(1.1);
}
